{% extends 'base_layout.html' %}

{% block content %}
<br>
<div class="card mb-3">
  <img src="{{ card.model_photo.url }}" style="height: 150px;width: 100%">
  {% if card.status == 'Неактивована' %}
      <span class="badge featured-badge badge-warning">Неактивована</span>
  {% elif card.status == 'Активована'%}
      <span class="badge featured-badge badge-success">Активована </span>
  {% else %}
      <span style="color: #ffffff;" class="badge featured-badge badge-danger">Прострочена</span>
  {% endif %}
  <div class="card-body">
     <div class="d-flex flex-row justify-content-between align-items-center">
    <h1 class="card-title">{{ card.number }}</h1>           
    </div>

     <div class="d-flex flex-row justify-content-between align-items-center">
    <h5 class="card-title">Серія:<br>{{card.series }}</h5>
      
            
    </div>

   
      <div class="d-flex flex-row justify-content-between align-items-center">
         <h6>Баланс: </h6>
            </div>
                <div>
                    <h5> <p class="card-text">${{ card.amount }}</p></h5>
                </div>
       <div class="d-flex flex-row justify-content-between align-items-center">
    <h5 class="card-title">Дата створення:</h5>  
    <h5 class="card-text">
     {{ card.date_of_issue }}
    </h5>         
    </div>
    <div class="d-flex flex-row justify-content-between align-items-center">
    <h5 class="card-title">Дата закінчення:</h5> 
    <h5 class="card-text">
    {{ card.expiration_date }}
    </h5>          
    </div>
    <div class="d-flex flex-row justify-content-between align-items-center">
    <h5 class="card-title">Дата використання:</h5>
    <h5 class="card-text">
    {{ card.date_of_use }}
    </h5>        
    </div>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
<a class="btn  btn-danger" href="{% url 'cards:card_remove' number=card.number %}">
  <span class="glyphicon glyphicon-remove"></span>Видалити</a>
  {% if card.status == 'Неактивована' %}
        <a class="btn  btn-success" href="{% url 'cards:card_update' number=card.number %}">
  <span class="glyphicon glyphicon-remove"></span>Активувати</a>
  {% elif card.status == 'Активована'%}
        <a class="btn  btn-warning" href="{% url 'cards:card_update' number=card.number %}">
  <span class="glyphicon glyphicon-remove"></span>Деактивувати</a>
  {% endif %}
    </div>
    

  </div>
<style type="text/css">
    .card {
    border-radius: 5px
}
</style>

{% endblock %}